<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <%- include ('components/head') %>
</head>

<body>
    <%- include ('components/navbar') %>
        <center>
            <h3>Welcome to Batik Rizky</h3>
            <h5>Batik RIzky berdiri sejak 1997, berfokus pada kain Batik dengan berbagai teknik, warna, dan motif.</h5>
            <h5>Batik Rizky tetap mengutamakan kualitas yang nomor 1 dengan harga yang dapat dijangkau oleh seluruh
                lapisan masyarakat</h5>
        </center>
</body>

</html>
