<div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
    <div class="col">
        <div class="card h-100 shadow-sm"> <img
                src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/full//98/MTA-7169651/wirawan_batik_wirawan_batik_af1-0090_sutra_atbm_baron_pola_kain_batik_tulis_full02_td7ymf5v.jpg"
                class="card-img-top" alt="..." />
            <div class="card-body">
                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary"></span> <span
                        class="float-end price-hp">500.000</span> </div>
                <h5 class="card-title">BATIK TULIS</h5>
                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm"> <img
                src="https://kuka.co.id/asset/product_photo/894a1c3a4477b90f6bae3101ee72b815.jpeg" class="card-img-top"
                alt="..." />
            <div class="card-body">
                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary"></span> <span
                        class="float-end price-hp">300.000</span> </div>
                <h5 class="card-title">BATIK CAP</h5>
                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm"> <img
                src="https://images.tokopedia.net/img/cache/500-square/product-1/2019/10/4/4209419/4209419_554d975f-e0e4-44fc-87c4-13e5eb188d2b_959_959.jpg"
                class="card-img-top" alt="..." />
            <div class="card-body">
                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary"></span> <span
                        class="float-end price-hp">200.000</span> </div>
                <h5 class="card-title">BATIK PRINT</h5>
                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm"> <img
                src="https://fitinline.com/data/article/picture/batik%20sablon%20malam%203.jpg" class="card-img-top"
                alt="..." />
            <div class="card-body">
                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary"></span> <span
                        class="float-end price-hp">100.000</span> </div>
                <h5 class="card-title">BATIK SABLON</h5>
                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
            </div>
        </div>
    </div>
</div>
